.container-fluid {
  // position:absolute;
  padding:0px;
}

.principaltitrecine {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 40px;
  font-weight: bold;
  & .allez {
    color:#FE4240
  }
  & .cine {
    color: white;
  }
}

#carouselimg {
  z-index: 1;
}

.carousel-item img{
  width: 100% !important;
  height:auto !important;
  margin: 6px;
}



.menutitrecine {
  display:flex;
  flex-direction: row;
}

#carousel1{

  & img {
    width: 100%;
    height:auto;
  }
}

.logintitrecine {
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  position:relative;
  width:100%;
  height: auto;
  background-color: #FE4240;
  color: white;

  button{
    background-color: black;
    color: white;
    border: none;
  }

}


#allezcine{
  position: relative;
  width:100%;
  height: auto;
  margin-top: -55%;
  margin-left: 0;
  margin-right: 0;
}

.fa {
  color: white;
}

// .carousel-caption {
//   margin:0;
// }

.row {
  margin-left: 0;
  margin-right: 0;
}

.imagescarousel {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.boutonNoir {
  background-color: black;
  color: white;
}

.recherchetitrecine{

}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.featuredmoviesbutton {
  button {
  background-color: #FE4140;
  color:white;
  border: none;
  padding: 1%;
 font-weight: bold;
  }
}
