.container-fluid {
  padding: 0px;
  background-color: black; }

h2 {
  border-left: 5px solid #FE423E;
  padding: 10px; }

  /*DEBUT DROP DOWN MENU*/
.dropdown{
  margin-left: 3%;
}

.btn {
  border-radius: 0;
    font-size: 12px;
}

.btn:hover {
  background-color: #FD4340;
}

.btn:focus{
  background-color: #FD4340;
}

.dropdown-menu{
    margin:0;
}

.dropdown-item {
  font-size: 12px;
}

.dropdown-item:hover {
background-color: #FD4340;
  font-size: 16px;
}

/*FIN DROP DOWN MENU*/

/*DEBUT CONTACT en CAROUSEL*/

.contacttitrecine a{
  color: white;
  font-size:14px;
}

/*FIN CONTACT EN CAROUSEL*/

/*DEBUT RECHERCHE EN CAROUSEL*/

/*FIN RECHERCHE EN CAROUSEL*/

/*DEBUT LATEST ONLINE MOVIES*/
button{
  border-radius: 0;
  background-color: #FE4240;
  color: white;
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0px;
}
/*FIN LATEST ONLINE MOVIES*/

/*DEBUT LOGIN+REGISTER*/
#login{
  margin-left: 30px;
}
/*FIN LOGIN+REGISTER*/

/*DEBUT MENU ABSOLUTE + FIXED*/

/*FIN MENU ABSOLUTE + FIXED*/
.principaltitrecine {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 40px;
  font-weight: bold;
  color: white; }

.red {
  color: #FE4240; }

.onlinemovies {
  color: blue; }
  .onlinemovies button {
    border-radius: none; }

#carouselimg {
  position: relative;
  opacity: 0.7;
  z-index: 1; }

.carousel-indicators {
  margin-top: -50px; }

.carousel-item img {
  width: 100% !important;
  height: auto !important;
  /*margin: 6px; */
}

.menutitrecine {
  display: flex;
  flex-direction: row; }

#carousel1 img {
  width: 100%;
  height: auto; }

.logintitrecine {
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #FE4240;
  color: white; }
  .logintitrecine button {
    background-color: black;
    color: white;
    border: none; }

#allezcine {
  position: absolute;
  width: 100%;
  height: auto;
  margin-left: 0;
  margin-right: 0;
  z-index: 2; }

.fa {
  color: white; }

.row {
  margin-left: 0;
  margin-right: 0; }

.imagescarousel {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.boutonNoir {
  background-color: black;
  color: white; }

.stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc; }

.stylish-input-group button {
  border: 0;
  }

.featuredseriesbutton {
  display: flex;
  align-items: center;
}

.featuredmoviesbutton button {
  background-color: #FE4140;
  color: white;
  border: none;
  padding: 1%;
  font-weight: bold;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 30px}

.featuredseriesbutton button {
  background-color: #FE4140;
  color: white;
  border: none;
  padding: 1%;
  font-weight: bold;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 30px
   }


.shopmovies {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; }

#fontawesome li {
  list-style: none;
  display: inline;
  margin: 1px;
  padding: 2px;
  background-color: black; }

input {
  border: 1px solid #BBB7B3;
  border-radius: 0;
  margin: 3px; }

#submit {
  background-color: #FF423E;
  color: white; }

  footer {
  background-color: black;
  color: white; }

  .foot {
  font-size: 11px; }
  .foot a {
  font-weight: bold;
  color: white;
  margin: 2px;
  padding: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #65645C; }
  .foot h5 {
  border-bottom: 1px solid #4d4d00;
  padding-bottom: 15px; }

  .latestmovies {
  margin: 4px; }

  .commentaires {
    font-size: 10px;
  }

  .cache {
  margin-top: 10px;
  border-top: 1px solid #4d4d00;
  border-bottom: 1px solid #4d4d00; }
  .cache p {
  opacity: 0; }

  .reseausociaux h3{
text-align: center;
margin-left: 40px;
  }



  #footerawesome li:nth-child(1) {
  border: 1px solid #4C5155;
  padding:3px;
  padding-left: 8px;
  padding-right: 3px;
  margin: 2px; }

  #footerawesome li:nth-child(2) {
  padding:3px;
  border: 1px solid #4C5155;
  margin: 2px; }

  #footerawesome li:nth-child(3) {
  padding:3px;
  border: 1px solid #4C5155;
  margin: 2px; }

  #footerawesome li:nth-child(4) {
  padding:3px;
  border: 1px solid #4C5155;
  margin: 2px; }

  #footerawesome li:nth-child(5) {
  padding:3px;
  border: 1px solid #4C5155;
  margin: 2px; }





    .visible {
      display: block
    }
    .invisible {
      display: none !important;
    }

    #flexfilm {
      display: flex;
      justify-content: center;
    }
    #flexseries {
      display: flex;
      justify-content: center;
    }

    #footerawesome li{
      list-style: none;
      display:inline;
    }

    #footerawesome {
      text-align: center;
    }


/*# sourceMappingURL=file.css.map */

/* TO  BE DELETED*/

.principaltitrecine {
  font-family: 'Roboto', sans-serif;
  font-weight: bold; }

.stylish-input-group {
  background-color: black; }
  .stylish-input-group .form-control {
    color: white;
    background-color: black;
    border-radius: 10%;
    padding: 2px;
    border: 0;
    font-size: 12px; }
  .stylish-input-group .fa {
    color: white; }

.topmoviesmenutwitter {
  position: absolute;
  margin-left: -20%;
  font-weight: bold;
  margin-top: 9%; }
  .topmoviesmenutwitter a {
    text-decoration: none;
    color: white; }
  .topmoviesmenutwitter .twitter {
    margin-left: 15px;
    background-color: #16A2F7;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px; }
  .topmoviesmenutwitter .twitter:hover {
    margin-left: 110px; }
  .topmoviesmenutwitter li {
    list-style: none;
    padding: 8px; }
  .topmoviesmenutwitter .fa {
    color: black;
    background-color: white;
    padding: 8px;
    border-radius: 50%; }

.topmoviesmenufacebook {
  position: absolute;
  margin-top: 14%;
  margin-left: -21%;
  font-weight: bold; }
  .topmoviesmenufacebook a {
    text-decoration: none;
    color: white; }
  .topmoviesmenufacebook .facebook {
    background-color: #3E5F94;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px; }
  .topmoviesmenufacebook .facebook:hover {
    margin-left: 110px; }
  .topmoviesmenufacebook li {
    list-style: none;
    padding: 8px; }
  .topmoviesmenufacebook .fa {
    color: black;
    background-color: white;
    padding-right: 13px;
    padding-left: 13px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 50%; }

.topmoviesmenudribble {
  position: absolute;
  margin-top: 19%;
  margin-left: -20%;
  font-weight: bold; }
  .topmoviesmenudribble a {
    text-decoration: none;
    color: white; }
  .topmoviesmenudribble .dribble {
    margin-left: 15px;
    background-color: #ED4181;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px; }
  .topmoviesmenudribble .dribble:hover {
    margin-left: 110px; }
  .topmoviesmenudribble li {
    list-style: none;
    padding: 8px; }
  .topmoviesmenudribble .fa {
    color: black;
    background-color: white;
    padding: 8px;
    border-radius: 50%; }

.topmoviesmenugoogle {
  position: absolute;
  margin-top: 24%;
  margin-left: -20%;
  font-weight: bold; }
  .topmoviesmenugoogle a {
    text-decoration: none;
    color: white; }
  .topmoviesmenugoogle .googleplus {
    background-color: #D6453A;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px; }
  .topmoviesmenugoogle .googleplus:hover {
    margin-left: 110px; }
  .topmoviesmenugoogle li {
    list-style: none;
    padding: 8px; }
  .topmoviesmenugoogle .fa {
    color: black;
    background-color: white;
    padding: 8px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 50%; }

.container-fluid {
  padding: 0;
  background-color: black; }

h2 {
  border-left: 5px solid #FE423E;
  padding: 10px; }

.principaltitrecine {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 40px;
  font-weight: bold;
  color: white; }

.red {
  color: #FE4240; }

.onlinemovies {
  color: blue; }
  .onlinemovies button {
    border-radius: none; }

#carouselimg {
  position: relative;
  opacity: 0.7;
  z-index: 1; }

.carousel-indicators {
  margin-top: -50px; }

.carousel-item img {
  width: 100% !important;
  height: auto !important; }

.menutitrecine {
  display: flex;
  flex-direction: row; }

#carousel1 img {
  width: 100%;
  height: auto; }

.logintitrecine {
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #FE4240;
  color: white; }
  .logintitrecine button {
    background-color: black;
    color: white;
    border: none; }

#allezcine {
  position: absolute;
  width: 100%;
  height: auto;
  margin-left: 0;
  margin-right: 0;
  z-index: 2;
  margin-top: 4%;
  color: white; }

.fa {
  color: white; }

.row {
  margin-left: 0;
  margin-right: 0; }

.imagescarousel {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.boutonNoir {
  background-color: black;
  color: white; }

.stylish-input-group .input-group-addon {
  background: white !important; }

.stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc; }

.stylish-input-group button {
  border: 0;
  background: transparent; }


.featuredseriesbutton button {
  background-color: #FE4140;
  color: white;
  border: none;
  padding: 1%;
  font-weight: bold; }

.shopmovies {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; }

#fontawesome li {
  list-style: none;
  display: inline;
  margin: 1px;
  padding: 2px;
  background-color: black; }

input {
  border: 1px solid #BBB7B3;
  border-radius: 0;
  margin: 3px; }

#submit {
  background-color: #FF423E;
  color: white; }

footer {
  background-color: black;
  color: white; }

.foot {
  font-size: 11px; }
  .foot a {
    font-weight: bold;
    color: white;
    margin: 2px;
    padding: 1px 2px;
    background-color: #65645C; }
  .foot h5 {
    border-bottom: 1px solid #4d4d00;
    padding-bottom: 15px; }

.cache {
  margin-top: 10px;
  border-top: 1px solid #4d4d00;
  border-bottom: 1px solid #4d4d00; }
  .cache p {
    opacity: 0; }

#films {
  margin-top: 4%; }

.bordures {
  display: flex;
  justify-content: center;
  margin-top: 1%; }

.card {
  border: 0px; }

.card-footer {
  border: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
      }

.card-block {
  padding: 0px;
  color: #4C5155; }
  .card-block h6 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    text-align: center; }
  .card-block p {
    font-weight: normal !important;
    text-align: center;
    font-size: 12px; }

.pagination .page-item .page-link {
  background-color: #F2F0F1;
  color: #4C5155;
  border-radius: 0; }

.pagination .page-item .page-link:hover {
  background-color: #FE4240;
  font-size:18px;
  color: white;
  border-radius: 0; }

.pagination .page-item .page-link:active {
  background-color: #FE4240;
  color: white;
  border-radius: 0; }

.latestmovies {
  margin:2;
}

.latestmoviescontainer {
display:flex;
flex-direction: row;
}

.commentaires {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  margin-top: -20px;
}

#scrollIcon .fa{
  border:3px solid #FF423E;
  padding: 20%;
  border-radius: 50%;
}


/*# sourceMappingURL=file.css.map */
